.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.modalContainer {
  padding: 30px 20px 0 20px;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modalContainer body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.SearchText {
  font-size: 16px;
  /* border-radius: 8px; */
  border-width: 0;
  width: calc(100% - 40px);

  background-color: transparent;
  padding: 13px 16px 13px 0;
  outline: none;
}

.searchContainer {
  background-color: #efefef;
  display: flex;
  border-radius: 8px;
}
.searchContainer .leftArrow {
  padding: 16px;
}
.result-row {
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #efefef;
  font-size: 16px;
}
.No-result-row {
  padding-top: 20px;
  text-align: center;
}
.searchResultPane {
  overflow-x: hidden;
  overflow-y: auto;
}
