.rideSearchCard {
  border-color: #000000;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  width: calc(100% - 62px);
  text-align: center;
  color: #000000;
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 20px 12px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  /* height: 84px; */
}
.searchCard-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* height: 82px; */
}
.searchCard-item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  /* height: 82px; */
}
.searchCard-item-1 {
  color: #a0a0a0;
  font-size: 12px;
  height: 14.52px;
  margin: 16;
}
.searchCard-item-3 {
  color: #a0a0a0;
  font-size: 12px;
  height: 14.52px;
  margin: 16;
}
.searchCard-item-2 {
  color: black;
  font-size: 18px;
  height: 21.78px;
  margin: 16;
}
.btnBookNow {
  width: 110%;
  color: white;
  /* text-align: center; */
  background-color: rgb(0, 117, 255);
  /* margin: auto; */
  /* line-height: 1.25rem; */
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0px;

  display: table-cell;
  vertical-align: middle;

  font-size: 12px;

  /* border-radius: 15px; */
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

  /* visibility: visible; */
}
