.userInforHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 20px;
  height: 35px;
  position: relative;
}
.tittle {
  font-size: 12px;
}

.userName {
  right: calc(15%);
  top: 10px;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .tittle {
    font-size: 16px;
  }
}

.accountLogo {
  right: 0;
  top: 0;
  position: absolute;
}
