select {
  background-color: transparent;
  /* border-color: ; */
  border-width: 0;
  color: blue;

  /* border-radius: 15%; */
}
.fromWrapper {
  border-color: blue;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  width: 250px;
}
