/* input {
  background-color: #efefef;
  border-color: #0075ff;
  border: none;
  border-radius: 10px;
  border-width: 2px; 
  border-style: none;
  width: 250px;
} */
.App {
}
.SearchResultTiltle {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 42px 20px 0px 20px;
}
